body {
  width: 250px;
  padding: 16px;
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
}

h2 {
  margin-top: 0;
}

input,
button {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-btn {
  background: #4285f4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px; /* Increased padding for better spacing */
  margin: 8px 0;
  background: #f9f9f9;
  border: 1px solid #eee; /* Light border for separation */
  border-radius: 4px;
  gap: 8px;
  word-break: break-word;
  font-weight: 400;
}

.item .find {
  color: #333131;
  
}

.item .replace {
  color: #03294f;
  margin-left: 4px;
}

.delete {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>');
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-left: auto;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}